
/*-FONT-*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


/*-GENERAL*/
body{
    font-family: 'Montserrat', sans-serif;
}


/*-NAVBAR-*/
#navbar{
    backdrop-filter: blur(10px);
}

#navbar a{
    color: white;
    font-weight: bold;
}

.form-btn{
    background-color: #FF8C32;
    border: none;
    border-radius: 15px;
    color: white;
}

/*-HERO-*/
#hero{
    background-color: #06113C;
    color: white;
    background-image: url("/assets/img/hero-bg.png");
    background-size: cover;
    background-position: center;
    padding: 6%;
}

@media only screen and (max-width: 600px) {
    #hero-img{
        display: none;
    }
 }


 /*-FEATURES-*/
#features-text{
    border: none;
}
#features-img{
    border: none;
    border-radius: 15px;
}
#features-img img{
    border: none;
    border-radius: 15px;
}

/*--TİMER*/
#timer-container{
    background-color: #06113C;
    padding: 3%;
    text-align: center;
    color: white;
    margin-top: 5%;
}
#timer-card{
    background-color: #06113C;
    border: none;
}

/*-ABOUT-*/
#about{
    margin-top: 5%;
}
#about-img{
    border: none;
}
#about-text{
    border: none;
}

/*-FOOTER-*/
#footer{
    color: white;
}
#footer a{
    color: white;
    
}